.theme-selector {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	max-width: 1200px;
	margin: 20px auto;
}

.theme-buttons div {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-right: 1rem;
	border-radius: 50%;
}

.theme-mode {
	margin-right: auto;
}

.theme-mode img {
	width: 24px;
	height: 24px;
	cursor: pointer;
	margin-left: 1rem;
	transition: all 0.5s ease-in-out;
}
