@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Indie+Flower&family=Merriweather:ital,wght@0,300;0,400;1,300;1,400;1,700&family=Montserrat:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;0,400;1,100;1,400;1,500;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.1s ease-in-out;
}

*::selection {
	background: beige;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Indie Flower", cursive;
	/* font-family: "Merriweather", serif; */
	/* font-family: "Roboto", sans-serif; */
	background-color: beige;
}

body::-webkit-scrollbar {
	display: none;
}

@media (max-width: 400px) {
	body {
		overflow: auto;
	}
}
