html,
body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	color: wheat;
	text-align: center;
	font-size: 1.1rem;
}

body::-webkit-scrollbar {
	display: none;
}

/* HEADER */
.head-container {
	background: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0.5rem;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	opacity: 0.6;
	border-radius: 20px;
	height: 5px;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.slider:hover {
	opacity: 1;
	cursor: pointer;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
	background: wheat;
}

.slider::-webkit-slider-thumb:hover {
	background: lightyellow;
}

.slider::-webkit-slider-thumb:active {
	width: 17px;
	height: 17px;
	background: white;
	border: 0.5px black solid;
}

select {
	width: 7rem;
	height: 1.5rem;
	background: wheat;
	font-weight: bold;
	margin-bottom: 5px;
}

/* SEARCH BODY */
.container {
	width: 100%;
	height: 80vh;
	background-color: lightyellow;
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.search-container {
	width: 90%;
	height: 90%;
	background-color: palegoldenrod;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	overflow-x: scroll;
	border-radius: 15px;
}

.search-container::-webkit-scrollbar {
	display: none;
}

.array {
	height: 10%;
	display: flex;
	margin: 100px;
	color: black;
}

.element {
	width: 50px;
	height: 100%;
	margin: auto 2px;
	background-color: palegreen;
	border-radius: 10%;
	box-shadow: 1px 1px forestgreen;
	padding-top: 5px;
}

.active {
	background-color: lightpink;
	box-shadow: 1px 1px orangered;
}

.current {
	background-color: slateblue;
	box-shadow: 1px 1px blue;
}

.wait-active {
	background-color: yellow;
	box-shadow: 1px 1px orange;
}

.not-active {
	background-color: paleturquoise;
	box-shadow: 1px 1px steelblue;
	text-decoration: line-through;
}

.input-container {
	height: 40vh;
	width: 100%;
}

#target-label {
	font-size: 1.5rem;
	color: black;
}

#target-input {
	font-size: 1.25rem;
	width: 20rem;
	height: 2rem;
	border: none;
	margin: auto 15px;
	border-radius: 1rem;
	padding-left: 1rem;
}

#target-search {
	font-size: 1rem;
	height: 2rem;
	width: 10rem;
	margin: 1rem;
	border: none;
	border-radius: 10px;
	background-color: gold;
	transition: all 0.2s ease-in-out;
}

#target-search:hover {
	background-color: transparent;
	border: 5px solid gold;
	color: goldenrod;
	height: 3rem;
	width: 12rem;
	padding: 5px;
	transform: translateX(2px);
	box-shadow: 0 0 10px orange;
}

/* FOOTER */
.foot-container {
	width: 100%;
	height: 10vh;
	background-color: black;
	padding: 1px;
}

@media screen and (max-width: 800px) {
	/* 	HEADER  */
	.head-container {
		flex-direction: column;
		padding: 0.75rem;
	}

	label,
	input {
		margin-bottom: 10px;
	}
}
