.post {
	background-color: rgb(252, 228, 193);
	width: 750px;
	border-radius: 1rem;
	min-height: 100px;
	padding: 1rem;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
	margin: 20px auto;
}

@media (max-width: 800px) {
	.post {
		width: 550px;
	}
}
@media (max-width: 600px) {
	.post {
		width: auto;
		margin: 10px;
	}
}
